.create-form-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(43, 128, 128, 0.35);
    border-radius: 5px;
}

.modal {
    text-align: center;
}

.modal h2 {
    color: #646464;
    border-radius: 5px;
}

.modal button {
    background-color: #359E9E;
    color: #fff;
    font-size: 1em;
    padding: 0.8em 1.7em;
}

.modal button:hover {
    background-color: #216262;
}

.flashcard,
.modal input,
.modal textarea,
.name-form input,
.name-form textarea,
.create-form input,
.create-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Comic Sans MS", sans-serif;
}

.modal textarea,
.name-form textarea,
.create-form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.create-form {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.create-form-word {
    font-weight: bold;
    color: #646464;
    padding: 0.5em;
}

.create-form input {
    max-width: 30vw;
}

.create-form-buttons {
    justify-content: center;
    margin-left: -4em;
}

.create-form-buttons button {
    width: 150%;
    background-color: #359E9E;
    color: #fff;
    cursor: pointer;
    margin: 4% 20%;
}

.create-form button:hover {
    background-color: #2b8080;
    text-decoration: underline;
}

.flashcard-container {
    margin-top: 1.5em;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}

.flashcard {
    width: 70%;
    background-color: #f9f9f9;
}

.flashcard-options i {
    padding: 0 0.5em;
}

.fa-trash-can {
    color: #DC4345;
}

.flashcard-title {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .flashcard-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .flashcard {
        width: 75%;
    }
}
