.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35em;
    background-color: rgba(53, 158, 158, 0.24);
}

.change-color {
    background-color: rgba(220, 67, 69, 0.24);
}

.login-form {
    background-color: white;
    border-radius: 1em;
    padding: 20px 40px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.login-form-icon {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.login-form i {
    color: #216262;
    font-size: 3rem;
}

.login-form h2 {
    text-align: center;
}

.login-form .MuiTextField-root {
    margin: 0 0 1.5rem 0.5rem;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form Button {
    margin: 7% 37%;
    padding: 12px;
    background-color: #359E9E;
}

.change-color-button Button {
    background-color: #DC4345;
}

.login-form Button:hover {
    background-color: #216262;
}

.change-color-button Button:hover {
    background-color: #9d3034;
}

.login-form-options {
    padding: 5% 0 0;
    font-size: 0.7em;
}

.login-form-option a {
    color: #216262;
    text-decoration: none;
}

.login-form-option a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .login-form {
        width: 70%;
    }
}