.create-form-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(53, 158, 158, 0.24);
    border-radius: 5px;
}

.modal {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h2 ,
.change-modal {
    color: #646464;
    border-radius: 5px;
}

.modal h2 {
    margin-top: -10px;
}

.flashcard,
.modal .MuiTextField-root,
.name-form .MuiTextField-root,
.create-form .MuiTextField-root,
.create-form button,
.name-form-left button{
    background-color: #fff;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Myriad Pro", system-ui;
}

.create-form button {
    padding: 10px;
}

.name-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 4%;
}
.name-form-left {
    width: 90%;
}

.name-form-right {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    height: 2.5em;
}

.name-form-right i {
    font-size: 25px;
}

.modal select {
    clear: both;
    font-family: "Helvetica", system-ui;
    color: #359E9E;
    padding: 6px 20px;
    height: 40px;
    width: 10rem;
    border: #359E9E solid 1px;
    border-radius: 5px;
    margin-right: 1em;
    background-color: #fff;
}

.create-form {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.create-form-word {
    font-weight: bold;
    color: #646464;
    padding: 0.5em;
}

.create-form-buttons {
    justify-content: center;
    margin-left: -4em;
}

.create-form-buttons button {
    width: 150%;
    background-color: #359E9E;
    color: #fff;
    cursor: pointer;
    margin: 4% 20%;
}

.create-form button:hover {
    background-color: #2b8080;
}

.flashcard-container {
    margin-top: 1.5em;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}

.flashcard {
    width: 70%;
    background-color: #f9f9f9;
    display: flex;
    padding: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flashcard-data {
    width: 80%;
}

.flashcard p,
.flashcard h3 {
    margin: 0.6em;
}

.flashcard-options {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.flashcard-options .option {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.flashcard-options .option:hover {
    background-color: #f0f0f0;
}

.flashcard-options i {
    font-size: 1.2em;
}

.name-form-right select,
.fa-ellipsis-vertical {
    height: 100%;
    display: flex;
    align-items: center;
    border: solid 1px rgba(145, 145, 145, 0.6);
    padding: 0.5em 1.3rem;
    border-radius: 5px;
    background-color: white;
    color: #646464;
}

.fa-ellipsis-vertical {
    cursor: pointer;
    height: 1em;
}

.fa-ellipsis-vertical:hover,
.name-form-right select:hover {
    cursor: pointer;
}

.flashcard-title {
    font-weight: bold;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.change-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 500px;
    text-align: center;
}

.change-modal .MuiTextField-root {
    margin-bottom: 2rem;
}

.modal-additional-box {
    margin-top: 1.5rem;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.modal-buttons Button {
    margin: 0 7px;
}

.modal-buttons Button,
.modal-additional-box Button {
    width: 10rem;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options-list {
    position: absolute;
    top: 51px;
    right: -88px;
    background-color: #fff;
    border: 1px solid #b0b0b0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 5px;
    width: 8rem;
}

.options-list button {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    color: #646464;
}

.options-list button:hover {
    background-color: #E0E0E6;
    border-radius: 2px;
    color: #000000
}

.new-category-modal {
    background-color: #fff;
    padding: 4rem;
    border-radius: 10px;
}

.new-category-modal h2 {
    margin-bottom: 3rem;
}

.new-category-modal Button {
    margin: 1rem;
}

.new-category-icon {
    margin: 0 0 3rem 0;
}

.new-category-icon img {
    width: 10rem;
}

.new-category-inputs {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.new-category-inputs .MuiTextField-root {
    flex: 1 1 80%;
}

.color-picker-container {
    display: flex;
    align-items: center;
    flex: 0 1 10%;
}

.color-picker-container .sketch-picker {
    position: absolute;
    z-index: 1100;
}

.color-preview {
    width: 53px;
    height: 53px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -11px;
}

@media (min-width: 1200px) {
    .flashcard-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .flashcard {
        width: 75%;
    }
    .modal .MuiTextField-root,
    .create-form .MuiTextField-root {
        width: 70%;
    }
}
