.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35em;
    background-color: rgba(53, 158, 158, 0.24);
}

.change-color {
    background-color: rgba(220, 67, 69, 0.24);
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    padding: 5px 30px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    align-content: center;
    align-items: center;
}

.login-form-icon {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.login-form-icon img {
    width: 8rem;
}

.register-form-icon i {
    color: #DC4345;
}

.login-form h2 {
    text-align: center;
    margin-top: -1px;
}

.login-form .MuiTextField-root {
    margin: 0 0 1.5rem 0.5rem;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form Button {
    padding: 12px;
    background-color: #359E9E;
}

.change-color-button Button {
    background-color: #DC4345;
    color: #fff;
}

.login-form Button:hover {
    background-color: #2E8888;
}

.change-color-button Button:hover {
    background-color: #9d3034;
}

.login-form-options {
    padding: 5% 0 0;
    font-size: 0.7em;
}

.login-form-option button {
    background-color: #ffffff;
    border: none;
    color: #266e6e;
    cursor: pointer;
    padding: 0 3px;
    font: inherit;
}

.login-form-option button:hover {
    background-color: #ffffff;
    color: #174141;
    text-decoration: underline;
}

@media (max-width: 900px) {
    .login-form {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .login-form .MuiTextField-root {
        width: 70%;
    }
}