.test-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 32.8em;
    background-color: rgba(53, 158, 158, 0.24);
    padding: 1em;
}

.top-bar {
    margin-right: 3em;
    gap: 0.6em;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.settings-btn,
.back-btn {
    position: relative;
    background-color: #359E9E;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 1.5em;
    cursor: pointer;
}

.test-flashcard-box {
    width: 60%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 1em;
    overflow-y: auto;
    max-height: 47vh;
}

.test-flashcard-box p {
    margin-bottom: 2.5em;
    font-weight: bold;
    margin-left: 1.5rem;
}

.test-flashcard-box form {
    height: 400px;
}

.test-flashcard-box div {
    display: flex;
    justify-content: left;
}

.test-flashcard-box p {
    display: flex;
    justify-content: center;
}

.test-flashcard-row {
    display: flex;
    align-items: center;
    margin: 1em;
    justify-content: flex-start;
}

.test-flashcard-word {
    font-size: 1.2em;
    flex: 1;
    text-align: left;
}

.test-flashcard-row .MuiTextField-root {
    width: 50%;
}

.finish-btn {
    width: 40%;
    padding: 0.8em 2em;
    font-size: 1em;
    color: white;
    background-color: #359E9E;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2em 0;
}

.finish-btn:hover {
    background-color: rgb(43, 128, 128);
}

.results-box {
    width: 40%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 2em;
    text-align: center;
}

.results-summary {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.incorrect-list-result {
    background-color: rgba(220, 67, 69, 0.32);
}
