.write-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 35em;
    background-color: rgba(53, 158, 158, 0.24);
}

.top-bar {
    margin-right: 3em;
    padding: 1.4em 0;
    gap: 0.6em;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.settings-btn,
.back-btn {
    position: relative;
    background-color: #359E9E;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 1.5em;
    cursor: pointer;
}

.flashcard-box {
    width: 40%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.flashcard-word {
    font-size: 1.7em;
    margin-bottom: 1em;
}

.flashcard-content .MuiTextField-root {
    margin-bottom: 6rem;
}

.check-btn {
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    background-color: #359E9E;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1em;
}

.check-btn:hover {
    background-color: rgb(43, 128, 128);
}

.ok-btn {
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    background-color: #359E9E;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2em 0;
}

.ok-btn:hover {
    background-color: rgb(38, 110, 110);
}

.help-text {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #216262;
    font-size: 1em;
}

.help-text:hover {
    color: #254b4a;
    text-decoration: underline;
}

.feedback-message {
    margin-top: 1em;
    font-size: 1.5em;
    white-space: pre-line;
}

.counter {
    margin: 1em;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: #333;
}

@media (max-width: 800px) {
    .write-page-box {
        width: 80%;
        height: 25rem;
    }
}
