.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.head-panel {
  background-color: #5C3D2B;
  height: 15%;
  display: flex;
}
.logo {
  float: left;
}

.center-panel {
  background-color: #f0f0f0;
  height: 85%;
}
