:root {
  --font-size-vw: 2vw;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 1.3rem;
  color: #3A1E0A;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  cursor: pointer;
  margin-left: 3%;
}

.logo img{
  width: 23rem;
}

.menu {
  width: 100%;
  text-align: right;
}

.main-image img {
  width: 100%;
}

.main-image {
  position: relative;
  width: 100%;
}

.main-text {
  position: absolute;
  top: 25%;
  left: 7%;
  transform: translateY(-50%);
  font-size: var(--font-size-vw);
  color: #eee;
}

footer section {
  padding: 0 10%;
}

.bold-text {
  font-size: 1.5em;
}

@media (max-width: 1350px) {
  footer section {
    display: flex;
    flex-direction: row;
  }
  footer section Button {
    width: 20%;
  }
}

@media (max-width: 1000px) {
  .logo img {
    width: 20rem;
  }
  header {
    flex-direction: column;
  }
  .menu ul {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem;
  }
}

@media (max-width: 900px) {
  footer section {
    display: flex;
    flex-direction: column;
  }
  footer section Button {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  .main-text {
    display: none;
  }
}